@model IEnumerable<Cliente.Models.Mant>

@{
    ViewData["Title"] = "ListaMantenimientos";
}

<h1>Lista de mantenimientos</h1>
@ViewBag.Error
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tecnico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tecnico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>

        </tr>
}
    </tbody>
</table>
